.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'cabeçalho cabeçalho'
    'capa-conteudo capa-imagem'
    'organizacao-imagem organizacao-conteudo'
    ;
    row-gap: 20px;
    column-gap: 20px;
    padding: 10px;
}
@media ( max-width: 768px) {
    .container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'cabeçalho'
    'capa-conteudo'
    'capa-imagem'
    'organizacao-conteudo'
    'organizacao-imagem'
    ;
}
header {
    align-items:center;
    flex-direction: column;
}
}

header {
    grid-area: cabeçalho;
    display: flex;
    align-items:center;
    padding: 0px 10px;
}
section#capa-conteudo {
    grid-area: capa-conteudo;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section#capa-imagem {
    grid-area: capa-imagem;
}

section#organizacao-imagem {
    grid-area: organizacao-imagem;
}

section#capa-imagem > img, section#organizacao-imagem > img {
    max-width: 100%;
}

section#organizacao-conteudo {
    grid-area: organizacao-conteudo;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    background: #f2f2f2;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    margin-top: 20px;
}

nav {
    flex-grow: 1;
    display: flex;
}
nav ul {
    display: flex;
    list-style: none;
}
nav ul a:link, a:visited {
    padding: 10px;
    text-decoration: none;
    color: #484848;
    font-size: 1.2rem;
}
nav ul a:link, a:hover {
    color: #0B5CFF;
}
.botao {
    text-decoration: none;
    color: #0B5CFF;
    border: 2px solid #0B5CFF;
    border-radius: 25px;
    padding: 5px 30px;
    align-self: flex-start;
}
.botao:hover {
    background-color: aqua;
}
.botao.destaque {
    background-color: #0B5CFF;
    color: white;
}
.botao.destaque:hover   {
    background-color: aqua;
    color: black;
}

/* Tipografia */

body {
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.8em;
}
h3 {
    font-size: 1.2em;
}
.texto-destaque {
    color: #2d73ff;
}